{% extends 'Base.html' %}

{% block Contents %}
<div class="w3-card-4 w3-center">
	<div class="w3-container w3-green"><h2>User Control Center</h2></div>
	<div id="UsrControl" class="w3-bar">
		<input class="w3-bar-item w3-button" type="button" value="Volume Setting" onclick="location.href='/Volume'">
		<input class="w3-bar-item w3-button" type="button" value="Shuffle Queue" onclick="location.href='/Shuffle'">
		<input class="w3-bar-item w3-button" type="button" value="Show PlayList" onclick="location.href='/Queue'">
		<input class="w3-bar-item w3-button" type="button" value="PlayList Links" onclick="location.href='/Playlist'">
		<input class="w3-bar-item w3-button" type="button" value="Skipping Song" onclick="location.href='/Skip'">
		<input class="w3-bar-item w3-button" type="button" value="Manage PlayList" onclick="location.href='/Remove'">
		<input class="w3-bar-item w3-button" type="button" value="Clear PlayList" onclick="location.href='/Clear'">
	</div>
</div>

<div class="space"></div>

<div class="w3-card-4 w3-center">
	<div class="w3-container w3-red"><h2>Schedule Youtube Musics</h2></div>
	<div class="w3-text-red">
		<h5>The URL prefix must be one of the list below</h5>
		<h5>"https://www.youtube.com/watch?v="</h5>
		<h5>"https://youtu.be/"</h5>
		<h5>and haven't been added to the queue yet.</h5>
		<h5>You can also put multiple links with newline</h5>
	</div>
	<form class="w3-container" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<div id="YTURL" class="maxInput"><textarea class="w3-input w3-animate-input w3-center w3-text-red" placeholder="Youtube URL Here" name="playlists" type="text" cols="45" rows="2"></textarea></div>
		<p></p>
		<button type="submit" class="w3-btn w3-red">Send</button> <button type="submit" name="Mode" value="toggle" class="w3-btn w3-green">{{ Current_Mode }}</button>
	</form>
</div>

<div class="space"></div>

<div class="w3-card-4 w3-center">
	<div class="w3-container w3-blue"><h2>Admin Control Center</h2></div>
	<form action="/Admin" class="w3-container" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<p>
			<div id="Admin" class="maxInput"><input class="w3-input w3-animate-input w3-center" placeholder="Admin Code" name="Admin" type="password"></div>
		</p>
		<button type="submit" class="w3-btn w3-blue">Login</button>
	</form>
</div>
{% endblock %}